
.Navbar{
    background-color: brown;
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
}
.container1{
    display: flex;
    justify-content: start;
}
.container2{
    display: flex;
    justify-content: end;
}
.imgicons{
    width: 50px;
    height: 40px;
}
.pnavbar{
    color: white;
    margin: 10px
}